import init.hws7300u.usb.rc

on init
    mkdir /devlog 0700 root root
    symlink /data/usercust /usercust
    mkdir /mnt/tmp 0000 system system
    mkdir /tmpdata 0771 system system
    mkdir /persist 0771 system system

    chmod 0777 /dev/lcd_ctrl
    chmod 0777 /system/bin/diagd

on early-boot
    # set RLIMIT_MEMLOCK to 64MB
    setrlimit 8 67108864 67108864

on post-fs-data
    # we will remap this as /storage/sdcard0 with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media
    # double check the perms and set owner
    chown root root /devlog
    chmod 0700 /devlog
    mkdir /data/misc/bluetooth 0770 bluetooth bluetooth

    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wifi/wpa_supplicant 0770 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    chown dhcp dhcp /data/misc/dhcp

    mkdir /data/misc/audio 0770 audio audio

    mkdir /data/usercust
    chown root root /data/usercust
    chmod 0775 /data/usercust

    chown system system /sys/bus/i2c/drivers/bq275x0-battery/state
    chown system system /sys/bus/platform/drivers/msm-charger/chg_enable
    chown system system /sys/bus/platform/drivers/msm-charger/cap_limit
    chown system shell /sys/devices/platform/msm_hsusb/gadget/usb_state

    chown system system /sys/class/android_usb/android0/f_mass_storage/lun/file
    chmod 0660 /sys/class/android_usb/android0/f_mass_storage/lun/file
    chown system system /sys/class/android_usb/android0/f_rndis/ethaddr
    chmod 0660 /sys/class/android_usb/android0/f_rndis/ethaddr

    #Create directories for gpsone_daemon services
    mkdir /data/misc/gpsone_d 0770 system system

    #Create directories for QuIPS
    mkdir /data/misc/quipc 0770 gps system

    #Create directory from IMS services
    mkdir /data/shared 0755
    chown system system /data/shared

    #Provide the access to hostapd.conf only to root and group
    chmod 0660 /data/hostapd/hostapd.conf

    # Create /data/time folder for time-services
    mkdir /data/time/ 0700 system system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

on boot	  
    # Chown polling nodes as needed from UI running on system server
    chmod 0664 /sys/devices/platform/msm_sdcc.1/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.2/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.3/polling
    chmod 0664 /sys/devices/platform/msm_sdcc.4/polling
    chown system system /sys/devices/platform/msm_sdcc.1/polling
    chown system system /sys/devices/platform/msm_sdcc.2/polling
    chown system system /sys/devices/platform/msm_sdcc.3/polling
    chown system system /sys/devices/platform/msm_sdcc.4/polling
    chown bluetooth bluetooth /sys/module/bluetooth_power/parameters/power  
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /proc/bluetooth/sleep/proto
    chown system system /sys/module/sco/parameters/disable_esco
    chown bluetooth bluetooth /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/module/bluetooth_power/parameters/power
    chmod 0660 /sys/module/hci_smd/parameters/hcismd_set
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /proc/bluetooth/sleep/proto
    chown bluetooth bluetooth /dev/ttyHS0
    chmod 0660 /dev/ttyHS0
    chown bluetooth bluetooth /sys/devices/platform/msm_serial_hs.0/clock
    chmod 0660 /sys/devices/platform/msm_serial_hs.0/clock

    # Tweak background writeout
    write /proc/sys/vm/dirty_writeback_centisecs 1500
    write /proc/sys/vm/dirty_ratio 90
    write /proc/sys/vm/vfs_cache_pressure 10
    write /proc/sys/vm/swappiness 50
    write /sys/block/mmcblk0/queue/nr_requests 2048
    write /sys/block/mmcblk1/queue/nr_requests 2048
    write /sys/block/mmcblk0boot0/queue/nr_requests 2048
    write /sys/block/mmcblk0boot1/queue/nr_requests 2048
    write /sys/block/mmcblk0/queue/iostats 0
    write /sys/block/mmcblk1/queue/iostats 0
    write /sys/block/mmcblk0boot0/queue/iostats 0
    write /sys/block/mmcblk0/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk1/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk0boot0/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk0boot1/queue/iosched/back_seek_penalty 1
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0boot0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk0boot1/queue/iosched/slice_idle 0

    chown system shell /sys/bus/platform/drivers/android_usb/state
    chown shell shell /sys/firmware/touchscreen/ts_debug
    chown system shell /sys/firmware/touchscreen/firmware_tptype
    chown system shell /sys/firmware/touchscreen/firmware_version
    chown system shell /sys/firmware/touchscreen/update_firmware
    chown system shell /sys/firmware/touchscreen/firmware_file_version
    chown system shell /sys/firmware/touchscreen/tp_control

    # Enable Bluetooth 802.11 PAL when Bluetooth is turned on
    setprop ro.config.bt.amp no

    # Sensor service
    chmod 0666 /dev/accel
    chmod 0666 /dev/autolight
    chmod 0666 /dev/akm8973_aot
    chmod 0666 /dev/akm8973_dev
    chmod 0666 /dev/gyro
    chmod 0666 /dev/st303_acc
    chmod 0666 /dev/st303_compass
    chmod 0666 /dev/sensor_report
    chmod 0666 /dev/lcdc_pro

    chmod 755 /system/bin/usbhub
    chmod 755 /system/bin/usbhub_init
    chmod 0755 /system/bin/ip
    chmod 0660 /dev/smd0
    chown system system /dev/smd0

    chmod 0444 /sys/devices/platform/msm_hsusb/gadget/usb_state

    # Remove write permissions to video related nodes
    chmod 0660 /sys/devices/virtual/graphics/fb1/video_mode
    chmod 0440 /sys/devices/virtual/graphics/fb1/video_mode_str
    chmod 0440 /sys/devices/virtual/graphics/fb1/connected
    chmod 0440 /sys/devices/virtual/graphics/fb1/edid_modes
    chmod 0440 /sys/devices/virtual/graphics/fb1/hdcp
    chmod 0660 /sys/devices/virtual/graphics/fb1/hpd
    chmod 0440 /sys/devices/virtual/graphics/fb1/3d_present
    chmod 0440 /sys/devices/virtual/graphics/fb1/hdcp_present
    chmod 0660 /sys/devices/virtual/graphics/fb1/format_3d
    chmod 0660 /sys/devices/virtual/graphics/fb1/edid_3d_modes
    chmod 0440 /sys/devices/virtual/graphics/fb1/underscan
    chmod 0440 /sys/devices/virtual/graphics/fb1/dvi
    chmod 0440 /sys/devices/virtual/graphics/fb1/pa
    chmod 0660 /sys/devices/virtual/graphics/fb1/cec
    chmod 0660 /sys/devices/virtual/graphics/fb1/cec_logical_addr
    chmod 0660 /sys/devices/virtual/graphics/fb1/cec_wr_frame
    chmod 0660 /sys/devices/virtual/graphics/fb1/product_description
    chmod 0660 /sys/devices/virtual/graphics/fb1/vendor_name

    # Change owner and group for system server and surface flinger
    chown system graphics /sys/devices/virtual/graphics/fb1/video_mode
    chown system graphics /sys/devices/virtual/graphics/fb1/video_mode_str
    chown system graphics /sys/devices/virtual/graphics/fb1/connected
    chown system graphics /sys/devices/virtual/graphics/fb1/edid_modes
    chown system graphics /sys/devices/virtual/graphics/fb1/hdcp
    chown system graphics /sys/devices/virtual/graphics/fb1/hpd
    chown system graphics /sys/devices/virtual/graphics/fb1/3d_present
    chown system graphics /sys/devices/virtual/graphics/fb1/hdcp_present
    chown system graphics /sys/devices/virtual/graphics/fb1/format_3d
    chown system graphics /sys/devices/virtual/graphics/fb1/edid_3d_modes
    chown system graphics /sys/devices/virtual/graphics/fb1/underscan
    chown system graphics /sys/devices/virtual/graphics/fb1/dvi
    chown system graphics /sys/devices/virtual/graphics/fb1/pa
    chown system graphics /sys/devices/virtual/graphics/fb1/cec
    chown system graphics /sys/devices/virtual/graphics/fb1/cec_logical_addr
    chown system graphics /sys/devices/virtual/graphics/fb1/cec_wr_frame
    chown system graphics /sys/devices/virtual/graphics/fb1/product_description
    chown system graphics /sys/devices/virtual/graphics/fb1/vendor_name

    #For bridgemgr daemon to inform the USB driver of the correct transport
    chown radio radio /sys/class/android_usb/f_rmnet_smd_sdio/transport

    #To allow interfaces to get v6 address when tethering is enabled
    write /proc/sys/net/ipv6/conf/rmnet0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet7/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio0/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio1/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio2/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio3/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio4/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio5/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio6/accept_ra 2
    write /proc/sys/net/ipv6/conf/rmnet_sdio7/accept_ra 2

    # Flash storage isn't a good entropy source, and only causes locking
    # overhead in the kernel. Turn it off.
    write /sys/block/mmcblk0/queue/add_random 0

# Export GPIO56 for fusion targets to enable/disable hub
service usbhub_init /system/bin/usbhub_init
    class late_start
    user root
    disabled
    oneshot

# for WIFI enable ip renew
on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd
    stop dhcpcd_wlan0
    stop iprenew_wlan0

on property:bluetooth.isEnabled=true
    start btwlancoex
    start amp_load
    write /sys/class/bluetooth/hci0/idle_timeout 7000

on property:bluetooth.isEnabled=false
    start amp_unload

# for fix EFS partiton
service rmt_storage /system/bin/rmt_storage /dev/block/mmcblk0p11 /dev/block/mmcblk0p12 /dev/block/mmcblk0p14
    class late_start
    user root
    disabled

on property:ro.boot.emmc=true
    start rmt_storage

service brcmpatch /system/bin/log -t brcm-bluetooth -p i "brcm_patchram_plus service requested"
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service bt-dun /system/bin/dun-server /dev/smd7 /dev/rfcomm0
    class late_start
    disabled
    oneshot

service bt-sap /system/bin/sapd 15
    class late_start
    disabled
    oneshot

service sapd /system/bin/sdptool add --channel=15 SAP
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service dund /system/bin/sdptool add --channel=1 DUN
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service bridgemgrd /system/bin/bridgemgrd
    class late_start
    user radio
    group radio
    disabled

service port-bridge /system/bin/port-bridge /dev/smd0 /dev/ttyGS0
    class late_start
    user system
    group system inet
    disabled

on property:ro.baseband="msm"
    setprop ro.qualcomm.bluetooth.dun true

service qmiproxy /system/bin/qmiproxy
    class late_start
    user radio
    group radio
    disabled

service qmuxd /system/bin/qmuxd
    class late_start
    user radio
    group radio
    disabled

service netmgrd /system/bin/netmgrd
    class late_start
    disabled

service sensors /system/bin/sensors.qcom
    class late_start
    user root
    group root
    disabled

on property:ro.use_data_netmgrd=false
    # netmgr not supported on specific target
    stop netmgrd

# Adjust socket buffer to enlarge TCP receive window for high bandwidth
# but only if ro.data.large_tcp_window_size property is set.
on property:ro.data.large_tcp_window_size=true
    write /proc/sys/net/ipv4/tcp_adv_win_scale  1

service amp_init /system/bin/amploader -i
    class late_start
    user root
    disabled
    oneshot

service amp_load /system/bin/amploader -l 7000
    class late_start
    user root
    disabled
    oneshot

service amp_unload /system/bin/amploader -u
    class late_start
    user root
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant -Dwext -iwlan0 -c /data/misc/wifi/wpa_supplicant.conf
    user root
    group wifi inet
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service gpsone_daemon /system/bin/gpsone_daemon
    class late_start
    user system
    group system qcom_oncrpc inet
    disabled

service quipc_igsn /system/bin/quipc_igsn
    class late_start
    user gps
    group inet gps
    disabled

service quipc_main /system/bin/quipc_main
    class late_start
    user gps
    group net_admin wifi inet gps
    disabled

service fm_dl /system/bin/sh /system/etc/init.qcom.fm.sh
    class late_start
    user root
    group system qcom_oncrpc
    disabled
    oneshot

service drmdiag /system/bin/drmdiagapp
    class late_start
     user root
     disabled
     oneshot

on property:drmdiag.load=1
    start drmdiag

on property:drmdiag.load=0
    stop drmdiag

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

service qcom-post-boot /system/bin/sh /system/etc/init.qcom.post_boot.sh
    class late_start
    user root
    disabled
    oneshot

on property:init.svc.bootanim=stopped
    start qcom-post-boot

service abld /system/bin/mm-abl-daemon
    class late_start
    disabled

service hostapd /system/bin/hostapd -dddd /data/hostapd/hostapd.conf
    class late_start
    user root
    group root
    oneshot
    disabled

service oem_rapid /system/bin/oem_rapid
    class main

service sar /system/bin/sar
    class main

service ds_fmc_appd /system/bin/ds_fmc_appd -p "rmnet0" -D
    class late_start
    group radio
    disabled
    oneshot

on property:persist.data.ds_fmc_app.mode=1
    start ds_fmc_appd

service ims_regmanager /system/bin/exe-ims-regmanagerprocessnative
    class late_start
    user system
    group qcom_oncrpc net_bt_admin inet radio wifi
    disabled

on property:persist.ims.regmanager.mode=1
    start ims_regmanager

# For sensor service
on property:persist.sys.coordinate=false
   write /sys/bus/i2c/drivers/st303_acc/coordinate_acc 	0
   write /sys/bus/i2c/drivers/st303_compass/coordinate_mag 0
   write /sys/bus/i2c/drivers/l3g4200d/coordinate_gyro	    0
	
on property:persist.sys.coordinate=true
   write /sys/bus/i2c/drivers/st303_acc/coordinate_acc 	1
   write /sys/bus/i2c/drivers/st303_compass/coordinate_mag 1
   write /sys/bus/i2c/drivers/l3g4200d/coordinate_gyro	    1	

on property:persist.sys.color.enhance=true
	write /sys/bus/platform/drivers/lcdc_s7Pro_lvds_wxga/color_en 1
on property:persist.sys.color.enhance=false
	write /sys/bus/platform/drivers/lcdc_s7Pro_lvds_wxga/color_en 0

service thermald /system/bin/thermald
    class main
    user root
    group root
    disabled

on property:persist.thermal.monitor=true
    start thermald

service ftp /system/bin/sdptool add --psm=5257 --channel=20 FTP
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map0 /system/bin/sdptool add --channel=16 MAS0
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service map1 /system/bin/sdptool add --channel=17 MAS1
    class late_start
    user bluetooth
    group bluetooth net_bt_admin
    disabled
    oneshot

service ril-daemon1 /system/bin/rild -c 1
    class late_start
    socket rild1 stream 660 root radio
    socket rild-debug1 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_rw qcom_oncrpc qcom_diag log

service profiler_daemon /system/bin/profiler_daemon
    class late_start
    user root
    group root
    disabled

service akmd /system/bin/akmd2
    disabled
    oneshot

service sensor_daemon /system/bin/sensor_daemon
    disabled
    oneshot

# create virtual SD card at /storage/sdcard0, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard /data/media /mnt/shell/emulated 1023 1023
    class late_start

# For format error
service hw_rm /system/bin/hw_rm
    user root
    group root
    disabled
    oneshot

service hcidump /system/bin/sh /system/etc/hcidump.sh
    user root
    group bluetooth system net_bt_admin net_admin
    disabled
    oneshot

service hw_cifs /system/bin/hw_cifs
    class late_start
    user root
    group root
    disabled
    oneshot

on property:persist.sys.cifs.ctl=1
    start hw_cifs
on property:persist.sys.cifs.ctl=0
    stop hw_cifs

on property:persist.sys.sdio.lowfreqmode=1
    write /sys/sdio_mode/lowfreqmode 1
on property:persist.sys.sdio.lowfreqmode=0
    write /sys/sdio_mode/lowfreqmode 0

on property:sys.usb.fastboot=normal
    write /sys/module/g_android/parameters/usb_fastboot $sys.usb.fastboot
    wait aabbcc
    write /sys/class/android_usb/android0/enable 1
on property:sys.usb.fastboot=deepsleep
    write /sys/class/android_usb/android0/enable 0
    write /sys/module/g_android/parameters/usb_fastboot $sys.usb.fastboot

service load_logo /system/bin/load_logo
    class late_start
    user root
    group root
    disabled
    oneshot

service bt_init_off /system/bin/sh /system/etc/bluetooth_power.sh
    class main
    oneshot

service rmt_oeminfo /system/bin/rmt_oeminfo
on property:ro.emmc=1
    start rmt_oeminfo
service diagd /system/bin/diagd
    class main

service hwinsmod /system/bin/sh /etc/init.hw.insmod.sh
    class early_start
    user root
    group root
    oneshot
